{{define "title"}}Route details{{end}}

{{define "main"}}
  <div class='route'>
    <div class='header'>
      <span>{{.SportRoute.Name}}</span>
      <span>{{.SportRoute.Grade}}</span>
    </div>
    <div class='metadata'>
      <span>Type: {{.SportRoute.RouteType}}</span>
      <span>Status: {{ .SportRoute.GetStatus }}</span>
      <span>Gym: {{.SportRoute.Gym.Name}}
    </div>
    {{if .SportRoute.Notes}}
      <div>
        <div class='sectionHeader'>Notes</div>
        <div class='notes'>{{.SportRoute.Notes}}</div>
      </div>
    {{end}}
{{end}}
