* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Mono", monospace;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    /* color: #34495E; */
    overflow-y: scroll;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: darkmagent;
}

header, nav, main, footer {
    padding: 2px calc((100% - 800px) / 2) 0;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
}

header h1 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

nav {
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #d7d8d9;
    border-top: 1px solid #d7d8d9;
    background-color: #F1F3F6;
}

nav a:hover {
    text-decoration: none;
}

main {
    margin-top: 30px;
}

.route {
    border: 1px solid grey;
}

.route .header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: grey;
    padding: 15px;
}

.metadata {
    padding: 10px 12px;
    border-bottom: solid 1px grey;
}

.metadata span {
    display: block;
}

.sectionHeader {
    padding: 5px 10px;
    background-color: lightgrey;
}

.notes {
    padding: 5px 10px;
    font-style: italic;
}
